// Default Colors
$primary:  #2196f3;
$secondary: #e3f2fd; //#1976d2;
$thirdly: #0d47a1;
$accent: #f44336;
$black: rgba(0, 0, 0, .87);
$grey: rgba(0, 0, 0, .54);
$light-grey: rgba(0, 0, 0, .38);
$white: rgba(255, 255, 255, 1);
$off-white: rgba(255, 255, 255, .7);
$light-off-white: rgba(255, 255, 255, .5);

//Default Values
$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 15px;
$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 15px;
$padding-lg: 20px;
$padding-xl: 30px;
$break-sm-min: 768px;
$break-xs-max: $break-sm-min - 1;
$transition-sm: .5s;
$transition-md: 1.5s;
$transition-lg: 2s;

// Colors
$primary-text: $black;
$secondary-text: $grey;
$disabled-text: $light-grey;
$primary-text-light: $white;
$secondary-text-light: $off-white;
$disabled-text-light: $light-off-white;

$sidebar-background: $primary;
$sidebar-text: $secondary-text;
$sidebar-text-hover: $secondary-text-light;
$sidebar-shadow: $grey;
$sidebar-trigger-background: $thirdly;
$sidebar-trigger-text: $primary-text-light;

$box-border-color: $sidebar-background;
$box-header-background: $box-border-color;

// Values
$link: $secondary;
$link-hover: $thirdly;


$sidebar-font-size: 30px;
$sidebar-button-spacing: $padding-xl;
$sidebar-width: 70px;
$sidebar-transition: $transition-md;
$sidebar-shadow-size: 5px;
$sidebar-trigger-size: 50px;
$sidebar-trigger-font-size: 20px;
$sidebar-trigger-spacing: ($sidebar-width - $sidebar-trigger-size) / 2;

$box-spacing-half: $padding-md;
$box-spacing-half-sm: $box-spacing-half / 2;
$box-radius: $radius-sm;
$box-header-action-spacing: $padding-sm;
