// Default Colors
$grey: #808080;

//Default Values
$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 15px;
$padding-sm: 10px;
$padding-md: 15px;
$padding-lg: 20px;


// Colors
$sidebar-background: $grey;
$sidebar-text: #fff;

$box-border-color: $sidebar-background;

// Values
$sidebar-font-size: 30px;
$sidebar-button-spacing: $padding-lg;

$box-spacing-half: $padding-md;
$box-radius: $radius-sm;
