// Panels
.panel-default {
  border-color: $box-border-color;

  > .panel-heading {
    background-color: $box-header-background;
    color: $primary-text-light;
  }
}

// Tables
.table > tbody > tr > td {
  border-color: $box-border-color;
}
