@import 'defaults';
@import 'overrides';
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  height: 100%;
}

body,
.body {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

a {
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

.sidebar {
  background: $sidebar-background;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: relative;
  text-align: center;
  transition: $sidebar-transition;
  width: $sidebar-width;

  @media (max-width: $break-xs-max) {
    box-shadow: 0 0 $sidebar-shadow-size $sidebar-shadow;
    left: -$sidebar-width;
    position: absolute;
    z-index: 5;
  }

  &-reveal {
    left: 0;

    .sidebar-trigger {
      background: $sidebar-background;
      box-shadow: none;
      color: $sidebar-text;
      font-size: $sidebar-font-size;
    }

    .sidebar-trigger:hover {
      box-shadow: none;
      color: $sidebar-text-hover;
    }
  }

  &-button {
    color: $sidebar-text;
    cursor: pointer;
    display: block;
    font-size: $sidebar-font-size;
    padding-top: $sidebar-button-spacing;
    width: 100%;

    &:hover {
      color: $sidebar-text-hover;
    }

    &.top-button {
      @media (max-width : $break-xs-max) {
        padding-top: $sidebar-trigger-size + 20px;
      }
    }
  }

  &-bottom {
    bottom: 20px;
    position: absolute;
  }

  &-trigger {
    background: $sidebar-trigger-background;
    border-radius: $sidebar-trigger-size / 2;
    box-shadow: 0 0 $sidebar-shadow-size $sidebar-shadow;
    color: $sidebar-trigger-text;
    font-size: $sidebar-trigger-font-size;
    height: $sidebar-trigger-size;
    left: $sidebar-trigger-spacing;
    padding: 0;
    position: fixed;
    top: $sidebar-trigger-spacing;
    transition: all $transition-md, box-shadow $transition-sm, color $transition-sm;
    width: $sidebar-trigger-size;

    &:hover {
      box-shadow: 0 4px $sidebar-shadow-size $sidebar-shadow;
      color: $sidebar-trigger-text;
    }

    @media (min-width: $break-sm-min) {
      top: -($sidebar-trigger-size + $sidebar-trigger-spacing);
    }
  }
}

.content {
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  padding: $box-spacing-half;
  width: calc(100% - #{$sidebar-width});

  @media (max-width : $break-xs-max) {
    padding: $box-spacing-half-sm;
    width: 100%;
  }
}

@keyframes box-container-shift-left {
  0% { margin-left: $sidebar-width; }
  100% { margin-left: 0; }
}

.box {
  &-container {
    height: calc(50vh - #{$box-spacing-half});
    overflow: hidden;
    padding-bottom: $box-spacing-half;
    padding-top: $box-spacing-half;
    transition: all $transition-md;

    @media (max-width : $break-xs-max) {
      animation-duration: $transition-md;
      animation-name: box-container-shift-left;
      height: auto;
      padding-bottom: $box-spacing-half-sm;
      padding-top: $box-spacing-half-sm;
    }
  }

  &-header-actions {
    color: $primary-text-light;

    div {
      display: inline-block;
      padding-left: $box-header-action-spacing;
    }

    div:hover {
      color: $secondary-text;
      cursor: pointer;
    }
  }

  &-title {
    overflow: hidden;
    width: auto;

    @media (max-width : $break-xs-max) {
      text-align: center;
    }
  }
}

.full {
  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
    // Add support for remove during xs
  }

  &-page {
    height: calc(100vh - #{$box-spacing-half * 2});

    @media (max-width : $break-xs-max) {
      height: auto;
    }
  }
}

.half-height {
  height: 50%;
  // Add support for remove during xs
}

.center {
  &-vertical {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    &.center-horizontal {
      transform: translate(-50%, -50%);
    }
  }

  &-horizontal {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);

    &.center-vertical {
      transform: translate(-50%, -50%);
    }
  }
}

.close-container {
  color: $secondary-text;
  cursor: pointer;
  text-align: center;
  width: 35px;

  &:hover {
    color: $primary-text;
  }
}

.inline-block {
  display: inline-block;
}
