html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  background: grey;
  height: 100%;
  width: 70px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.sidebar-button {
  width: 100%;
  color: white;
  font-size: 30px;
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.sidebar-bottom {
  position: absolute;;
  bottom: 20px;
}

.content {
  width: calc(100% - 70px);
  min-height: 100%;
  display: inline-block;
  padding: 15px;
  overflow: auto;
}

.box {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
}

.box-container {
  height: calc(50vh - 15px);
  padding-top: 15px;
  padding-bottom: 15px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
  /*Add support for remove during xs*/
}

.half-height {
  height: 50%;
  /*Add support for remove during xs*/
}
